@model List<Website.Models.DTOs.PublisherDTOs.PublisherGridDTO>

<<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Publishers</h3>
                    </div>
                    <div class="col-md-4" style="text-align:right">
                        <h3>
                            <a class="btn btn-primary btn-lg" href="/Publisher/Create">Create</a>
                        </h3>
                    </div>
                </div>

                <div class="table-responsive">

                    <table class="table table-striped" id="publisher-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var publisher in Model)
                            {
                                <tr>
                                    <td>@publisher.Name</td>
                                    <td>
                                        <a class="btn btn-primary" href="/Publisher/Edit/@publisher.Id">Edit</a>
                                        <button class="btn btn-danger" onclick="deletePublisher('@publisher.Id')">Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script>

        function deletePublisher(_id) {
            swal({
                title: "Wanna delete this publisher?",
                text: "Once deleted, you will not be able to recover this publisher",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/Publisher/Delete",
                            type: "POST",
                            data: { id: _id },
                            success: function (result) {
                                window.location.reload();
                            }
                        });
                    }
                });
        }


        $(document).ready(function () {
            $('#publisher-table').DataTable();
        });
    </script>
}
