@model List<Website.Models.DTOs.AuthorDTOs.AuthorGridDTO>

<div class="col-md-12">

    <div class="row">
        <div class="col-md-8">
            <h3>Authors</h3>
        </div>
        <div class="col-md-4" style="text-align:right">
            <h3>
                <a class="btn btn-primary btn-lg" href="/Author/Create">Create</a>
            </h3>
        </div>
    </div>

    <hr />

    <table class="table table-striped" id="author-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Model)
            {
                <tr>
                    <td>@author.Name</td>
                    <td><a class="btn btn-primary" href="/Author/Edit/@author.Id">Edit</a>
                        <button class="btn btn-danger" onclick="deleteAuthor('@author.Id')">Delete</button>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts{
    <script>
        function deleteAuthor(_id) {
            swal({
                title: "Wanna delete this author?",
                text: "Once deleted, you will not be able to recover this author",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/Author/Delete",
                            type: "POST",
                            data: { id: _id},
                            success: function (result) {
                                window.location.reload();
                            }
                        });
                    }
                });
        }

        $(document).ready(function ()
        {
            $('#author-table').DataTable();
        });
    </script>
}