
@model Website.Models.DTOs.BookDTOs.BookFormDTO

<div class="col-md-12">

    <div class="card">
        <div class="card-header">
            @Model.Title
        </div>
        <div class="card-body">

        </div>
    </div>

</div>



