<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Books</h3>
                    </div>
                    <div class="col-md-4" style="text-align:right">
                        <h3>
                            <a class="btn btn-primary btn-lg" href="/Book/Create">Create</a>
                        </h3>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped" id="book-table">
                        <thead>
                            <tr>
                                <th>ISBN</th>
                                <th>Title</th>
                                <th>Release Date</th>
                                <th>Publisher</th>
                                <th>Authors</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>



@section Scripts{
    <script>

        function deleteBook(_id) {
            swal({
                title: "Wanna delete this book?",
                text: "Once deleted, you will not be able to recover this book",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/Book/Delete",
                            type: "POST",
                            data: { id: _id },
                            success: function (result) {
                                window.location.reload();
                            }
                        });
                    }
                });
        }

        $(document).ready(function () {
            $('#book-table').DataTable({
                processing: true,
                responsive: true,
                serverSide: true,
                ajax: "/Book/GetPage",
                columns: [
                    {
                        data: "ISBN",
                        searchable: true,
                        orderable: true
                    },
                    {
                        data: "Title",
                        searchable: true,
                        orderable: true
                    },
                    {
                        data: "ReleaseDate",
                        searchable: true,
                        orderable: true
                    },
                    {
                        data: "Publisher",
                        searchable: true,
                        orderable: true
                    },
                    {
                        searchable: false,
                        orderable: false,
                        mRender: function (data, type, row) {
                            let authors_html = `<ul>`;

                            for (var i = 0; i < row.Authors.length; i++) {
                                authors_html += `<li>${row.Authors[i]}</li>`;
                            }

                            authors_html += "</ul>";

                            return authors_html;
                        }
                    },
                    {
                        searchable: false,
                        orderable: false,
                        mRender: function (data, type, row) {
                            let buttons_html = `<a class="btn btn-primary" href="/Book/Edit/${row.Id}">Edit</a>`;
                            buttons_html += `<button class="btn btn-danger" onclick="deleteBook('${row.Id}')">Delete</button>`;

                            return buttons_html;
                        }
                    },
                ]
            });
        });
    </script>
}